<div class="home-callout text-center container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <%= image_tag("coming_soon.jpeg", :alt=> "Brandan Towers", class: "img-responsive img-circle") %>
        <h2 class="text-center">Brandan Towers</h2>
        <h3 class="text-center">CEO</h3>
      </div>
      
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <h1>DeSousa Companies</h1>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, autem, 
        quas similique magnam repellendus temporibus dolores quaerat quis dicta eaque 
        vel architecto optio magni quasi voluptatem totam ipsum cum pariatur.</h3>
      </div>
  
      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="row">
          <h2 class="text-center nomarg">Meet the Partners</h2>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <%= image_tag("coming_soon.jpeg", :alt=> "Mark Carter", class: "img-responsive img-circle img") %>
            <br />
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h4 class="text-left">Mark Carter</h4>
            <h5 class="text-left">Vice President</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <%= image_tag("coming_soon.jpeg", :alt=> "Gary Watson", class: "img-responsive img-circle img") %>
            <br />
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h4 class="text-left">Gary Watson</h4>
            <h5 class="text-left">Vice President</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <%= image_tag("coming_soon.jpeg", :alt=> "Dr. Paul Smith III", class: "img-responsive img-circle img") %>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <h4 class="text-left">Dr. Paul Smith III</h4>
            <h5 class="text-left">Vice President</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="well">
        <%= image_tag("Schematic.png", :alt=> "Company Schematic", class: "img-responsive center-block") %>
      </div>
    </div>
    
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="well">
        <h1 class="text-center">Statistics</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, 
        sunt quaerat doloremque. Reprehenderit, sint, praesentium, consequuntur 
        provident ipsa ipsam at maxime beatae neque dolores vitae magnam ratione
        laudantium ut veniam!</p>
      </div>
    </div>
  </div>
</div>

<div class="home-callout-video container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1 class="text-center">Organization Core Values</h1>
    </div>
  </div>
</div>