<div class="home-callout text-center container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <%= image_tag("ceo.jpg", :alt=> "Brandan Towers", class: "img-responsive img-circle img") %>
        <h2 class="text-center">Brandan Towers</h2>
        <h3 class="text-center">CEO</h3>
      </div>
      
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <%= image_tag("DesousaLogo.png", :alt=> "Logo", class: "img-responsive img") %>
        <br />
        <h4 class="text-center">Mission</h4>
        <p>The Desousa Companies mission is to provide proven, tested and 
        holistic solutions that align to and enable our customers to achieve 
        both their short-term goals and their long-term visions.</p>
        <h4 class="text-center">Vision</h4>
        <p>The DeSousa Companies vision is to create a continuously evolving, trusted 
        network of partners  that use each other’s collaborative strengths to both 
        solve the tough questions of today and prevent the problems of tomorrow.</p>
      </div>
  
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="row">
          <h2 class="text-center nomarg">Meet the Partners</h2>
        </div>
        
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <%= image_tag("businessman.png", :alt=> "Mark Carter", class: "img-responsive img-circle img") %>
            <br />
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <h4 class="text-center mgtop">Mark Carter</h4>
            <h5 class="text-center">Vice President</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <%= image_tag("businessman.png", :alt=> "Gary Watson", class: "img-responsive img-circle img") %>
            <br />
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <h4 class="text-center mgtop">Gary Watson</h4>
            <h5 class="text-center">Vice President</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <%= image_tag("businessman.png", :alt=> "Dr. Paul Smith III", class: "img-responsive img-circle img") %>
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <h4 class="text-center mgtop">Dr. Paul Smith III</h4>
            <h5 class="text-center">Vice President</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 class="text-center">Core Values</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well w1">
          <h3 class="text-center">Honesty</h3>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well w1">
          <h3 class="text-center">Integrity</h3>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well w1">
          <h3 class="text-center">Transparency</h3>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well w1">
          <h3 class="text-center">Respect</h3>
        </div>
      </div>
    </div>  
  </div>
</div>

<div class="home-callout-video container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 col-sm-offset-2 col-md-offset-2 col-lg-offset-2 col-xl-offest-2 ">
        <div class="well">
          <%= image_tag("Schematic.png", :alt=> "Company Schematic", class: "img-responsive center-block schematic") %>
        </div>
      </div>
    </div>
  </div>
</div>

