<div class="home-callout text-center container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <%= image_tag("coming_soon.jpeg", :alt=> "Brandan Towers", class: "img-responsive img-circle") %>
        <h2 class="text-center">Brandan Towers</h2>
        <h3 class="text-center">CEO</h3>
      </div>
      
      <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h1>DeSousa Companies</h1>
        <p>The Desousa Companies mission is to provide proven, tested and 
        holistic solutions that align to and enable our customers to achieve 
        both their short-term goals and their long-term visions.</p>
 
        <p>The DeSousa Companies vision is to create a continuously evolving, trusted 
        network of partners  that use each other’s collaborative strengths to both 
        solve the tough questions of today and prevent the problems of tomorrow.</p>
      </div>
  
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="row">
          <h2 class="text-center nomarg">Meet the Partners</h2>
        </div>
        
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <%= image_tag("coming_soon.jpeg", :alt=> "Mark Carter", class: "img-responsive img-circle img") %>
            <br />
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <h4 class="text-left">Mark Carter</h4>
            <h5 class="text-left">Vice President</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <%= image_tag("coming_soon.jpeg", :alt=> "Gary Watson", class: "img-responsive img-circle img") %>
            <br />
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <h4 class="text-left">Gary Watson</h4>
            <h5 class="text-left">Vice President</h5>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
            <%= image_tag("coming_soon.jpeg", :alt=> "Dr. Paul Smith III", class: "img-responsive img-circle img") %>
          </div>
          <div class="col-sm-7 col-md-7 col-lg-7 col-xl-7">
            <h4 class="text-left">Dr. Paul Smith III</h4>
            <h5 class="text-left">Vice President</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<div class="container">
  <div class="row">
    <div class="col-sm-10 col-md-10 col-lg-9 col-xl-8">
      <div class="well">
        <%= image_tag("Schematic.png", :alt=> "Company Schematic", class: "img-responsive center-block schematic") %>
      </div>
    </div>
    
    <div class="col-sm-2 col-md-2 col-lg-3 col-xl-4">
      <div class="well">
        <h1 class="text-center">Statistics</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, 
        sunt quaerat doloremque. Reprehenderit, sint, praesentium, consequuntur 
        provident ipsa ipsam at maxime beatae neque dolores vitae magnam ratione
        laudantium ut veniam!</p>
      </div>
    </div>
  </div>
</div>

<div class="home-callout-video container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 class="text-center">Organization Core Values</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well">
          <h3 class="text-center">Core Value 1</h3>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well">
          <h3 class="text-center">Core Value 2</h3>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well">
          <h3 class="text-center">Core Value 3</h3>
        </div>
      </div>
      
      <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="well">
          <h3 class="text-center">Core Value 4</h3>
        </div>
      </div>
    </div>  
  </div>
</div>